/* Copyright Bram/sys-256 2021 */
/* Distributed under the Boost Software License, Version 1.0. */
/* (See accompanying file LICENSE or copy at https://www.boost.org/LICENSE_1_0.txt) */

body {
    background-color: hsl(0, 0%, 27%);
}

#weather-extension {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    height: 5.5rem;
    width: 6.5rem;
    top: -14%;
    right: 15%;
    border-style: solid;
    border-width: 0px 3px 4px 3px;
    border-radius: 0px 0px 10px 10px;
    transition: top 1.25s;
}

html:hover #weather-extension {
    top: 0%
}

#temperature, #place {
    color: black;
    font-family: Georgia;
    text-align: center;
}

#temperature {
    font-size: xx-large;
}

#place {
    font-size: medium;
}

#weather-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 2.5s;
}

#weather-extension:hover #weather-text {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 110%;
    opacity: 1;
}
